.content {
    margin-left: 25%;
    margin-right: 25%;
    font-family: Arial, sans-sarif;
}
.content a { 
    color: #180ea4;
}
.content a:hover {
    color: #92b4d1;
}

.sidebar {
    position: fixed; /* Keeps it in place as you scroll */
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background-color: #7C2827;
    color: white; /* color of text elements */
    padding: 0px 20px; /* vertical, horizontal */
    box-sizing: border-box; /* padding "inside" the width of the sidebar*/
    font-family: Arial, sans-sarif;
}
.sidebar a { 
    color: #FFFFFF;
    text-decoration: none;
}
.sidebar a:hover {
    color: #92b4d1;
}
